<%- include('partials/header', { title: `${username}'s Profile`, user: username, desc: `${username}'s prfile page on SSMT!` }); %>
    <% if(me){ %>
    <div class="container">
        <strong>Here you can edit your profile:</strong>
        <form action="/user/update" method="post">
            Username: <input type="text" name="username" value="<%= user.username %>"><br>
            Bio: <input type="text" name="bio" value="<%= user.bio %>"><br>
            <button type="submit"><i class="small left material-icons">send</i>Update</button>
        </form>
        
    </div>
    </br>
    <% } else { %>
        Welcome to <%= username %>'s page! <br>
        <%= username %>'s bio: <strong><%= user.bio %></strong>
    <% } %>
<%- include('partials/footer'); %>