<%- include('../partials/header', { title: `${user}'s Profile`, user: user }); %>
    <% if(me){ %>
        <strong>Here you can edit your profile:</strong>
        <form action="/user/update" method="post">
            Username: <input type="text" name="username" value="<%= user.username %>"><br>
            Bio: <input type="text" name="bio" value="<%= user.bio %>"><br>
            <input type="submit" value="Update">
        </form></br>
    <% } else { %>
        <%= username %>'s bio: <strong><%= user.bio %></strong>
    <% } %>
<%- include('../partials/footer'); %>