<%- include('../partials/header', { title: `Post by ${post.poster.username}`, user: user, desc: `A post by ${post.poster.username} reading: ${post.text}` }); %>
<!--
<% if(user){ %>
    <script>
        const pId = '<%= post._id %>';
            function upVote(){
                $.post('/posts/like', { postId: pId }, (resp, status) => {
                    $('#points').text(`${resp.points} likes`);
                });
            }
    </script>
<% } %>
-->
<div class="container">
    <span>
        <%- post.text %>
    </span>
    <br><br><br>
    <hr>
    <small class="center-align">Posted by <a href="/user/<%= post.poster.id %>" style="color: <%= post.poster.color %>"><%= post.poster.username %></a></small> <!-- | <small id="points"><%= post.points %> likes</small><br> -->
    <!--
    <% if(user){ %>
        <button onclick="upVote()">Like</button>
    <% } else { %>
        <small>You must <a href="/login">login/signup</a> to like posts!</small><br>
    <% } %>
    -->
    </div>
<%- include('../partials/footer'); %>