<%- include('partials/header', { title: 'Homepage', user: user }); %>
<% if(user){ %>
    <script>
        const pId = <%= post.id %>;
            function upVote(){
                $.post('/posts/vote', { postId: pId, type: 'up' }, (resp, status) => {
                    $('#points').text(`${resp.points} points`);
                });
            }
            
            function downVote(){
                $.post('/posts/vote', { postId: pId, type: 'down' }, (resp, status) => {
                    $('#points').text(`${resp.points} points`);
                });
            }
    </script>
<% } %>
<strong><%= post.text %></strong>
<br>
<small>Posted by <%= post.poster %></small>
<br><br>
<small id="points"><%= post.points %> points</small><br>
<% if(user){ %>
    <button onclick="upVote()">upvote</button>
    <button onclick="downVote()">downvote</button><br>
<% } else { %>
    <small>You must <a href="/login">login/signup</a> to vote on posts!</small><br>
<% } %>
<%- include('partials/footer'); %>